.carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
   /* box-shadow: 0 5px rgba(0, 0, 0, 0.3);*/
    margin: 50px auto;
}

/* Define o container do carrossel com posição relativa para posicionar elementos filhos, largura máxima de 1200px, altura fixa, esconde conteúdo que ultrapassa os limites, adiciona bordas arredondadas e sombra para profundidade */

.carousel-item {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Cada slide é posicionado absolutamente no canto superior esquerdo, ocupa toda a largura e altura do carrossel, centralizada o conteúdo com flexbox, começa invisível (opacidade 0) e  tem transição suave de opacidade */

.carousel-item.active {
    opacity: 1;
}

/* A classe 'active' torna o slide visível ao definir opacidade como 1 */

.carousel-content {
    text-align: center;
    color: black;
    padding: 2rem;
    max-width: 90%;
}

.carousel-content h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Define o tamanho da fonte do título como 2.5rem, peso semi-negrito e margem inferior para espaçamento */

.carousel-content p {
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* Posiciona os indicadores (bolinhas) na parte inferior central do carrossel, usa transform para centralizar horizontalmente, e organiza as bolinhas em linha com espaçamento */

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: #eeeebe;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Define as bolinhas com tamanho 12x12px, cor coral clara, formato circular, cursor interativo e transições suaves para cor e escala */

.carousel-dot.active {
    background-color: #A0522D;
    transform: scale(1.3);
}

/* A bolinha ativa tem cor coral mais escuta e é ampliada para indicar o slide atual */

.carousel-dot:hover {
    background-color: #A0522D;
}

/* Ao passar o mouse, a bolinha muda para um tom intermediário de coral */

@media (max-width: 768px) {
    .carousel {
        height: 300px;
    }
    /* Reduz a altura do carrossel em telas menores para melhor adaptação */

    .carousel-content h1 {
        font-size: 1rem;
    }
    /* Reduz p tamanho do parágrafo para 1rem em telas menores */

    .carousel-dot {
        width: 10px;
        height: 10px;
    }
    /* Reduz o tamanho das bolinhas para 10x10px em telas menores */
}