.container-principal2 #historia {
    width: 1200px;
    height: 1000px;
   margin: 0 auto;
   /* background-color: aqua;*/
    justify-content: center;
    display: inline; 
     
}

.container-principal2 #historia h2 {
    text-align: center;
    color: #A0522D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;

}


.galeria {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    
         
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 3px;
}


#historia-2 {
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

#historia-2 h1 {
   font-family: Arial, Helvetica, sans-serif;
    color: #A0522D;
    font-weight: 600;
    margin-top: 15px;
    padding: 5px;
 
}

#historia-2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
    margin-top: 15px;
    padding: 5px;
}

#historia-2 .texto {
    width: 750px;
    height:240px;
    float: right;
    margin-top: 30px;
   
    
}

#historia-2 #historia-img img {
   width: 400px;
   height:auto;
    float: left;
    margin-top: 40px; 
}